
.clock-text{
  padding-top: 15px;
  position: absolute;
  text-align: center;
  font-size: x-large;
}
.button-submit {
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}
.counter-number{
  text-align: center;
  margin-top: 20%;
  background-color: #f8b500;
  margin-left: 20%;
  margin-right: 20%;
  height: 137px;
  border-radius: 10px;
}
.counter-text{
  margin-top: 4%;
  color: white;
  font-size: -webkit-xxx-large;
}
