.header-component{
  background-color: #f30e5c;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-align: center;
}
.footer-component{
  background-color: #228c7b;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-align: center;
}
.text{
  // padding-top: 15px;
  // position: absolute;
  // text-align: center;
}
